nav a{
    text-decoration: none;
    padding: 0 10px;
   
    
}
.mainclass{
    width: 1280px;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1031px;
    margin: 0 auto;
}
.menu{ display: flex;
    justify-content: space-between;
}
.school{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sc{
    font-size: 32px;
    
}
.sch{
    padding: 0 5px 10px 5px;
}
.home{
    font-size: 20px;
    color: orange;
    font-weight: bold;

}
.about{
    font-size: 20px;
    color: skyblue;
    font-weight: medium;
}
.faci{
    font-size: 20px;
    color: #05D4DF;
    font-weight: medium;
}
.admi{
    font-size: 20px;
    color: #5D58EF;
    font-weight: medium;
}
.cona{
    text-decoration: none;
}
.contact{
    background-color: orange;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight:600;
    padding: 10px 60.5px;
}
.cont{
    color: #FFFFFF;
    
}


.quicksand {
  font-family: "Quicksand", serif;
  font-style: normal;
}
.first{
    width: 1280px;
    margin: 0 auto;
    border: solid black;
}
.Container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1031px;
    border: solid black;
    margin: 0 auto;
}
.con1d1{
    width: 569px;
    right: 45px;
}
.Empowering{
    color: orange;
}
.towards{
color: skyblue;
}
.con1d2{
    width: 417px;
}
.con1d2 img{
    width: 100%;
}
.kidspera1{
    font-size: 50px;
    font-weight: bold;

}
.kidspera2{
    font-size: 20px;

}
.con1btn{
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 7px;
    padding: 10px 47px;
    margin: 10px 0 0 0;
}
.Container2{
    background-image: url(/assets/bg.png);
    width: 1280px;
    margin: 0 auto;
    justify-content: center;
}
.con2d2{
    display: flex;
    justify-content: space-evenly;
    width: 1031px;
    margin: 0 auto;
}
.con2d1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;

}
.kinder{
    
    background-image: linear-gradient(to top, hwb(0 100% 0%),hwb(0 100% 0%), hwb(0 100% 0%), #DEF5FF, #DEF5FF);


}
.kin1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kin2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.kin3{
    display: flex;
    justify-content: center;
   
}
.kin4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.con2d3{
    display: flex;
    justify-content: center;
}
.container3{
    background-image: url(/assets/bg.png);
}
.con3body{
    display: flex;

}
.con3d3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width:576px)
{
    .Container1{
        flex-direction: column;
     position: center;
     margin: 150px;
     width: 100%;
       
    }
   
}